@model IEnumerable<SPORTS_STORE.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div id="message" class="mt-4">@TempData["message"]</div>

<p class="mt-4">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script>
        $(function () {
            if ($("#message").html() != '') {
                $("#message").addClass("alert alert-success text-center").show();

                setTimeout(function () {

                    $("#message").fadeOut("normal", function () {
                        $(this).remove();
                    });

                }, 2000);
            }
        });
    </script>
}