@model HomePageViewModel
@using SPORTS_STORE.Models
@using PagedList.Mvc;

@{
    ViewBag.Title = "Products";
}

<h3 class="text-center mt-3">Product List</h3>

<div id="msg" class="mt-4">@TempData["message"]</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="btn-group-vertical">

                @Html.RouteLink("Home", null, htmlAttributes: new { @class = "btn btn-outline-primary mb-1" })
                @foreach (var category in Model.Categories)
                {
                    @Html.ActionLink(category.Name, "/Index", new { category = category.Name }, htmlAttributes: new { @class = (category.Name.Equals(ViewBag.selectedCategory) ? "btn btn-primary mb-1" : "btn btn-outline-primary mb-1") });
                }

            </div>
        </div>

        <div class="col-md-10">

            @if (Model.Products.Count() == 0)
            {
                <p class="text-center">No results match your search criteria.</p>
            }
            else
            {
                foreach (var product in Model.Products)
                {
                    @Html.Partial("_ProductSummary", product);
                }
            }

            <div class="text-center">
                @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page, search = Request.QueryString["search"], category = Request.QueryString["category"] }),
                                                                  new PagedListRenderOptions()
                                                                  {
                                                                      Display = PagedListDisplayMode.IfNeeded
                                                                  })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            if ($("#msg").html() != '') {
                $("#msg").addClass("alert alert-danger text-center").show();

                setTimeout(function () {

                    $("#msg").fadeOut("normal", function () {
                        $(this).remove();
                    });

                }, 2000);
            }
    </script>
}