<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <div class="container">
            @Html.ActionLink("Products", "Index", "Products", new { area = "Admin" }, new { @class = "navbar-brand" })

            @Html.ActionLink("Orders", "Index", "Orders", new { area = "Admin" }, new { @class = "text-white" })

            @Html.ActionLink("Home", "Index", "Products", new { area = "" }, new { @class = "text-white" })
        </div>
    </nav>

    <div class="container mt-2">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <small>Designed &amp; Developed by <strong><a href="https://simongjetaj.github.io/" target="_blank">Simon Gjetaj</a></strong> &copy; @(DateTime.Now.Year > 2018 ? $"2018 - {DateTime.Now.Year}" : DateTime.Now.Year.ToString())</small>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>